body{
padding: 20px;
background-color: blanchedalmond;
}
.ball{
  content: "";
  height: 450px;
  width: 450px;
  background-image: url(Magic_eight_ball.png);
  background-size: 100%;
  opacity: 1;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position: absolute;
    z-index:-1;    
  }

.ballOpacity{
content: "";
height: 450px;
width: 450px;
background-image: url(Magic_eight_ball.png);
background-size: 100%;
opacity: 1;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position: absolute;
  z-index:-1;
  animation-name: backgroundColorAnimation;
  animation-duration: 1s;  
}

@keyframes backgroundColorAnimation {
  from {
    opacity: 0.8;
     }
  25%{
    opacity: 0.6;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 0.6;
  }
  to {
    opacity: 0.8;
  }
}

button{
    position: absolute;
    left: 170px;
    top: 200px;
    height: 80px;
    width: 110px;
    border-width: 0px;
    background-color: transparent;
    color: aliceblue;
    font-size: 16px;
}
